gloss-master/gloss-master/.gitignore
gloss-master/gloss-master/.gitmodules
gloss-master/gloss-master/.travis.yml
gloss-master/gloss-master/README.md
gloss-master/gloss-master/stack-7.10.yaml
gloss-master/gloss-master/stack-8.0.yaml
gloss-master/gloss-master/stack-8.2.yaml
gloss-master/gloss-master/stack-8.4.yaml
gloss-master/gloss-master/stack-8.6.yaml
gloss-master/gloss-master/gloss/gloss.cabal
gloss-master/gloss-master/gloss/LICENSE
gloss-master/gloss-master/gloss/README
gloss-master/gloss-master/gloss/Setup.hs
gloss-master/gloss-master/gloss/Graphics/Gloss.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Geometry.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Bitmap.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Color.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Controller.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Display.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Picture.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Point.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Vector.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/ViewPort.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/ViewState.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Point/Arithmetic.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Geometry/Angle.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Geometry/Line.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/Environment.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/IO/Animate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/IO/Display.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/IO/Game.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/IO/Interact.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/IO/Simulate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/Pure/Animate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/Pure/Display.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/Pure/Game.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/Pure/Simulate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Color.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Animate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Backend.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Callback.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Debug.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Display.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Event.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Game.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Interact.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Simulate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Window.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Animate/State.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Animate/Timing.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Backend/GLFW.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Backend/GLUT.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Backend/Types.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Common/Exit.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Simulate/Idle.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Simulate/State.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/ViewState/KeyMouse.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/ViewState/Motion.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/ViewState/Reshape.hs
gloss-master/gloss-master/gloss-algorithms/gloss-algorithms.cabal
gloss-master/gloss-master/gloss-algorithms/LICENSE
gloss-master/gloss-master/gloss-algorithms/Graphics/Gloss/Algorithms/RayCast.hs
gloss-master/gloss-master/gloss-algorithms/Graphics/Gloss/Data/Extent.hs
gloss-master/gloss-master/gloss-algorithms/Graphics/Gloss/Data/Quad.hs
gloss-master/gloss-master/gloss-algorithms/Graphics/Gloss/Data/QuadTree.hs
gloss-master/gloss-master/gloss-examples/gloss-examples.cabal
gloss-master/gloss-master/gloss-examples/LICENSE
gloss-master/gloss-master/gloss-examples/Setup.hs
gloss-master/gloss-master/gloss-examples/picture/Bitmap/lena-101x101.bmp
gloss-master/gloss-master/gloss-examples/picture/Bitmap/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Boids/KDTree2d.hs
gloss-master/gloss-master/gloss-examples/picture/Boids/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Boids/Vec2.hs
gloss-master/gloss-master/gloss-examples/picture/Clock/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Color/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Conway/Cell.hs
gloss-master/gloss-master/gloss-examples/picture/Conway/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Conway/World.hs
gloss-master/gloss-master/gloss-examples/picture/Draw/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Easy/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Eden/Cell.hs
gloss-master/gloss-master/gloss-examples/picture/Eden/Community.hs
gloss-master/gloss-master/gloss-examples/picture/Eden/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Eden/World.hs
gloss-master/gloss-master/gloss-examples/picture/Flake/Main.hs
gloss-master/gloss-master/gloss-examples/picture/GameEvent/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Graph/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Gravity/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Hello/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Lifespan/Cell.hs
gloss-master/gloss-master/gloss-examples/picture/Lifespan/Community.hs
gloss-master/gloss-master/gloss-examples/picture/Lifespan/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Lifespan/World.hs
gloss-master/gloss-master/gloss-examples/picture/Machina/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/Cell.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/Data.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/State.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/World.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/data/world.dat
gloss-master/gloss-master/gloss-examples/picture/Occlusion/data/world4.dat
gloss-master/gloss-master/gloss-examples/picture/Occlusion/data/world8.dat
gloss-master/gloss-master/gloss-examples/picture/Render/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Actor.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Advance.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Collide.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Config.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Contact.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/QuadTree.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/World.hs
gloss-master/gloss-master/gloss-examples/picture/Tree/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/Draw.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/Interface.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/State.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/World.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/Geometry/Randomish.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/Geometry/Segment.hs
gloss-master/gloss-master/gloss-examples/picture/Zen/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Crystal/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/Makefile
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Interface.c
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Interface.h
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Main.c
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Model.c
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Model.h
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Solver.c
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Solver.h
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Args.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Compare.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Config.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/FieldElt.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Model.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/UserEvent.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Solve/Density.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Solve/Velocity.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Advection.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Boundary.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Diffusion.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Linear.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Project.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Sources.hs
gloss-master/gloss-master/gloss-examples/raster/Mandel/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Mandel/Solver.hs
gloss-master/gloss-master/gloss-examples/raster/Pulse/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/Light.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/Object.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/Trace.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/Vec3.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/World.hs
gloss-master/gloss-master/gloss-examples/raster/Snow/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Wave/Main.hs
gloss-master/gloss-master/gloss-raster/gloss-raster.cabal
gloss-master/gloss-master/gloss-raster/LICENSE
gloss-master/gloss-master/gloss-raster/Setup.hs
gloss-master/gloss-master/gloss-raster/Graphics/Gloss/Raster/Array.hs
gloss-master/gloss-master/gloss-raster/Graphics/Gloss/Raster/Field.hs
gloss-master/gloss-master/gloss-rendering/gloss-rendering.cabal
gloss-master/gloss-master/gloss-rendering/LICENSE
gloss-master/gloss-master/gloss-rendering/Setup.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Rendering.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Data/Color.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Data/Picture.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/Bitmap.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/Circle.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/Color.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/Common.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/Picture.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/State.hs
gloss-master/gloss-master/gloss-sdl/.gitignore
gloss-master/gloss-master/gloss-sdl/Makefile
gloss-master/gloss-master/gloss-sdl/README.md
gloss-master/gloss-master/gloss-sdl/bin/.keep
gloss-master/gloss-master/gloss-sdl/fonts/DejaVuSans.ttf
gloss-master/gloss-master/gloss-sdl/fonts/DejaVuSansMono.ttf
gloss-master/gloss-master/gloss-sdl/src/init.c
gloss-master/gloss-master/gloss-sdl/src/main.c
gloss-master/gloss-master/gloss-sdl/src/main.h
gloss-master/gloss-master/gloss-sdl/src/render.c
gloss-master/gloss-master/test/T25-SpaceLeak/Main.hs
gloss-master/gloss-master/test/T41-ThickCircleVexity/Main.hs
gloss-master.zip
impop/hgeometry.new
impop/hgeometry-combinatorial.new
impop/hgeometry-ipe.new
impop/hgeometry
impop/hgeometry-combinatorial
impop/hgeometry-ipe
papers
impop/hie.yaml
impop/stack.yaml
impop/stack.yaml.lock
impop-stack
.DS_Store
.DS_Store
.DS_Store
