gloss-master/gloss-master/.gitignore
gloss-master/gloss-master/.gitmodules
gloss-master/gloss-master/.travis.yml
gloss-master/gloss-master/README.md
gloss-master/gloss-master/stack-7.10.yaml
gloss-master/gloss-master/stack-8.0.yaml
gloss-master/gloss-master/stack-8.2.yaml
gloss-master/gloss-master/stack-8.4.yaml
gloss-master/gloss-master/stack-8.6.yaml
gloss-master/gloss-master/gloss/gloss.cabal
gloss-master/gloss-master/gloss/LICENSE
gloss-master/gloss-master/gloss/README
gloss-master/gloss-master/gloss/Setup.hs
gloss-master/gloss-master/gloss/Graphics/Gloss.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Geometry.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Bitmap.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Color.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Controller.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Display.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Picture.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Point.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Vector.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/ViewPort.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/ViewState.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Data/Point/Arithmetic.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Geometry/Angle.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Geometry/Line.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/Environment.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/IO/Animate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/IO/Display.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/IO/Game.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/IO/Interact.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/IO/Simulate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/Pure/Animate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/Pure/Display.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/Pure/Game.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Interface/Pure/Simulate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Color.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Animate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Backend.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Callback.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Debug.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Display.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Event.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Game.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Interact.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Simulate.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Window.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Animate/State.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Animate/Timing.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Backend/GLFW.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Backend/GLUT.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Backend/Types.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Common/Exit.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Simulate/Idle.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/Simulate/State.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/ViewState/KeyMouse.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/ViewState/Motion.hs
gloss-master/gloss-master/gloss/Graphics/Gloss/Internals/Interface/ViewState/Reshape.hs
gloss-master/gloss-master/gloss-algorithms/gloss-algorithms.cabal
gloss-master/gloss-master/gloss-algorithms/LICENSE
gloss-master/gloss-master/gloss-algorithms/Graphics/Gloss/Algorithms/RayCast.hs
gloss-master/gloss-master/gloss-algorithms/Graphics/Gloss/Data/Extent.hs
gloss-master/gloss-master/gloss-algorithms/Graphics/Gloss/Data/Quad.hs
gloss-master/gloss-master/gloss-algorithms/Graphics/Gloss/Data/QuadTree.hs
gloss-master/gloss-master/gloss-examples/gloss-examples.cabal
gloss-master/gloss-master/gloss-examples/LICENSE
gloss-master/gloss-master/gloss-examples/Setup.hs
gloss-master/gloss-master/gloss-examples/picture/Bitmap/lena-101x101.bmp
gloss-master/gloss-master/gloss-examples/picture/Bitmap/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Boids/KDTree2d.hs
gloss-master/gloss-master/gloss-examples/picture/Boids/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Boids/Vec2.hs
gloss-master/gloss-master/gloss-examples/picture/Clock/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Color/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Conway/Cell.hs
gloss-master/gloss-master/gloss-examples/picture/Conway/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Conway/World.hs
gloss-master/gloss-master/gloss-examples/picture/Draw/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Easy/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Eden/Cell.hs
gloss-master/gloss-master/gloss-examples/picture/Eden/Community.hs
gloss-master/gloss-master/gloss-examples/picture/Eden/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Eden/World.hs
gloss-master/gloss-master/gloss-examples/picture/Flake/Main.hs
gloss-master/gloss-master/gloss-examples/picture/GameEvent/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Graph/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Gravity/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Hello/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Lifespan/Cell.hs
gloss-master/gloss-master/gloss-examples/picture/Lifespan/Community.hs
gloss-master/gloss-master/gloss-examples/picture/Lifespan/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Lifespan/World.hs
gloss-master/gloss-master/gloss-examples/picture/Machina/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/Cell.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/Data.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/State.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/World.hs
gloss-master/gloss-master/gloss-examples/picture/Occlusion/data/world.dat
gloss-master/gloss-master/gloss-examples/picture/Occlusion/data/world4.dat
gloss-master/gloss-master/gloss-examples/picture/Occlusion/data/world8.dat
gloss-master/gloss-master/gloss-examples/picture/Render/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Actor.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Advance.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Collide.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Config.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Contact.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/QuadTree.hs
gloss-master/gloss-master/gloss-examples/picture/Styrene/World.hs
gloss-master/gloss-master/gloss-examples/picture/Tree/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/Draw.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/Interface.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/Main.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/State.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/World.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/Geometry/Randomish.hs
gloss-master/gloss-master/gloss-examples/picture/Visibility/Geometry/Segment.hs
gloss-master/gloss-master/gloss-examples/picture/Zen/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Crystal/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/Makefile
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Interface.c
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Interface.h
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Main.c
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Model.c
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Model.h
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Solver.c
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-c/src/Solver.h
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Args.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Compare.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Config.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/FieldElt.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Model.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/UserEvent.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Solve/Density.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Solve/Velocity.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Advection.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Boundary.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Diffusion.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Linear.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Project.hs
gloss-master/gloss-master/gloss-examples/raster/Fluid/src-repa/Stage/Sources.hs
gloss-master/gloss-master/gloss-examples/raster/Mandel/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Mandel/Solver.hs
gloss-master/gloss-master/gloss-examples/raster/Pulse/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/Light.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/Object.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/Trace.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/Vec3.hs
gloss-master/gloss-master/gloss-examples/raster/Ray/World.hs
gloss-master/gloss-master/gloss-examples/raster/Snow/Main.hs
gloss-master/gloss-master/gloss-examples/raster/Wave/Main.hs
gloss-master/gloss-master/gloss-raster/gloss-raster.cabal
gloss-master/gloss-master/gloss-raster/LICENSE
gloss-master/gloss-master/gloss-raster/Setup.hs
gloss-master/gloss-master/gloss-raster/Graphics/Gloss/Raster/Array.hs
gloss-master/gloss-master/gloss-raster/Graphics/Gloss/Raster/Field.hs
gloss-master/gloss-master/gloss-rendering/gloss-rendering.cabal
gloss-master/gloss-master/gloss-rendering/LICENSE
gloss-master/gloss-master/gloss-rendering/Setup.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Rendering.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Data/Color.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Data/Picture.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/Bitmap.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/Circle.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/Color.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/Common.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/Picture.hs
gloss-master/gloss-master/gloss-rendering/Graphics/Gloss/Internals/Rendering/State.hs
gloss-master/gloss-master/gloss-sdl/.gitignore
gloss-master/gloss-master/gloss-sdl/Makefile
gloss-master/gloss-master/gloss-sdl/README.md
gloss-master/gloss-master/gloss-sdl/bin/.keep
gloss-master/gloss-master/gloss-sdl/fonts/DejaVuSans.ttf
gloss-master/gloss-master/gloss-sdl/fonts/DejaVuSansMono.ttf
gloss-master/gloss-master/gloss-sdl/src/init.c
gloss-master/gloss-master/gloss-sdl/src/main.c
gloss-master/gloss-master/gloss-sdl/src/main.h
gloss-master/gloss-master/gloss-sdl/src/render.c
gloss-master/gloss-master/test/T25-SpaceLeak/Main.hs
gloss-master/gloss-master/test/T41-ThickCircleVexity/Main.hs
gloss-master.zip
impop/hgeometry/changelog.org
impop/hgeometry/doctests.hs
impop/hgeometry/hgeometry.cabal
impop/hgeometry/LICENSE
impop/hgeometry/README.md
impop/hgeometry/Setup.hs
impop/hgeometry/docs/Data/PlaneGraph/small.png
impop/hgeometry/src/Algorithms/Geometry/LineSegmentIntersection.hs
impop/hgeometry/src/Algorithms/Geometry/ClosestPair/DivideAndConquer.hs
impop/hgeometry/src/Algorithms/Geometry/ClosestPair/Naive.hs
impop/hgeometry/src/Algorithms/Geometry/ConvexHull/DivideAndConquer.hs
impop/hgeometry/src/Algorithms/Geometry/ConvexHull/GrahamScan.hs
impop/hgeometry/src/Algorithms/Geometry/ConvexHull/Naive.hs
impop/hgeometry/src/Algorithms/Geometry/ConvexHull/QuickHull.hs
impop/hgeometry/src/Algorithms/Geometry/DelaunayTriangulation/DivideAndConquer.hs
impop/hgeometry/src/Algorithms/Geometry/DelaunayTriangulation/Naive.hs
impop/hgeometry/src/Algorithms/Geometry/DelaunayTriangulation/Types.hs
impop/hgeometry/src/Algorithms/Geometry/Diameter/Naive.hs
impop/hgeometry/src/Algorithms/Geometry/EuclideanMST/EuclideanMST.hs
impop/hgeometry/src/Algorithms/Geometry/FrechetDistance/Discrete.hs
impop/hgeometry/src/Algorithms/Geometry/LineSegmentIntersection/BentleyOttmann.hs
impop/hgeometry/src/Algorithms/Geometry/LineSegmentIntersection/Naive.hs
impop/hgeometry/src/Algorithms/Geometry/LineSegmentIntersection/Types.hs
impop/hgeometry/src/Algorithms/Geometry/LinearProgramming/LP2DRIC.hs
impop/hgeometry/src/Algorithms/Geometry/LinearProgramming/Types.hs
impop/hgeometry/src/Algorithms/Geometry/LowerEnvelope/DualCH.hs
impop/hgeometry/src/Algorithms/Geometry/PolyLineSimplification/DouglasPeucker.hs
impop/hgeometry/src/Algorithms/Geometry/PolygonTriangulation/MakeMonotone.hs
impop/hgeometry/src/Algorithms/Geometry/PolygonTriangulation/Triangulate.hs
impop/hgeometry/src/Algorithms/Geometry/PolygonTriangulation/TriangulateMonotone.hs
impop/hgeometry/src/Algorithms/Geometry/PolygonTriangulation/Types.hs
impop/hgeometry/src/Algorithms/Geometry/RedBlueSeparator/RIC.hs
impop/hgeometry/src/Algorithms/Geometry/SmallestEnclosingBall/Naive.hs
impop/hgeometry/src/Algorithms/Geometry/SmallestEnclosingBall/RIC.hs
impop/hgeometry/src/Algorithms/Geometry/SmallestEnclosingBall/Types.hs
impop/hgeometry/src/Algorithms/Geometry/WellSeparatedPairDecomposition/Types.hs
impop/hgeometry/src/Algorithms/Geometry/WellSeparatedPairDecomposition/WSPD.hs
impop/hgeometry/src/Data/Geometry.hs
impop/hgeometry/src/Data/PlaneGraph.hs
impop/hgeometry/src/Data/Geometry/Arrangement.hs
impop/hgeometry/src/Data/Geometry/Ball.hs
impop/hgeometry/src/Data/Geometry/BezierSpline.hs
impop/hgeometry/src/Data/Geometry/Boundary.hs
impop/hgeometry/src/Data/Geometry/Box.hs
impop/hgeometry/src/Data/Geometry/Directions.hs
impop/hgeometry/src/Data/Geometry/Duality.hs
impop/hgeometry/src/Data/Geometry/Ellipse.hs
impop/hgeometry/src/Data/Geometry/HalfLine.hs
impop/hgeometry/src/Data/Geometry/HalfSpace.hs
impop/hgeometry/src/Data/Geometry/HyperPlane.hs
impop/hgeometry/src/Data/Geometry/Interval.hs
impop/hgeometry/src/Data/Geometry/IntervalTree.hs
impop/hgeometry/src/Data/Geometry/KDTree.hs
impop/hgeometry/src/Data/Geometry/Line.hs
impop/hgeometry/src/Data/Geometry/LineSegment.hs
impop/hgeometry/src/Data/Geometry/PlanarSubdivision.hs
impop/hgeometry/src/Data/Geometry/Point.hs
impop/hgeometry/src/Data/Geometry/Polygon.hs
impop/hgeometry/src/Data/Geometry/PolyLine.hs
impop/hgeometry/src/Data/Geometry/PrioritySearchTree.hs
impop/hgeometry/src/Data/Geometry/Properties.hs
impop/hgeometry/src/Data/Geometry/QuadTree.hs
impop/hgeometry/src/Data/Geometry/RangeTree.hs
impop/hgeometry/src/Data/Geometry/SegmentTree.hs
impop/hgeometry/src/Data/Geometry/Slab.hs
impop/hgeometry/src/Data/Geometry/SubLine.hs
impop/hgeometry/src/Data/Geometry/Transformation.hs
impop/hgeometry/src/Data/Geometry/Triangle.hs
impop/hgeometry/src/Data/Geometry/Vector.hs
impop/hgeometry/src/Data/Geometry/Arrangement/Internal.hs
impop/hgeometry/src/Data/Geometry/Box/Corners.hs
impop/hgeometry/src/Data/Geometry/Box/Internal.hs
impop/hgeometry/src/Data/Geometry/Box/Sides.hs
impop/hgeometry/src/Data/Geometry/Interval/Util.hs
impop/hgeometry/src/Data/Geometry/Line/Internal.hs
impop/hgeometry/src/Data/Geometry/PlanarSubdivision/Basic.hs
impop/hgeometry/src/Data/Geometry/PlanarSubdivision/Merge.hs
impop/hgeometry/src/Data/Geometry/PlanarSubdivision/Raw.hs
impop/hgeometry/src/Data/Geometry/Polygon/Convex.hs
impop/hgeometry/src/Data/Geometry/Polygon/Core.hs
impop/hgeometry/src/Data/Geometry/Polygon/Extremes.hs
impop/hgeometry/src/Data/Geometry/QuadTree/Cell.hs
impop/hgeometry/src/Data/Geometry/QuadTree/Quadrants.hs
impop/hgeometry/src/Data/Geometry/QuadTree/Split.hs
impop/hgeometry/src/Data/Geometry/QuadTree/Tree.hs
impop/hgeometry/src/Data/Geometry/RangeTree/Generic.hs
impop/hgeometry/src/Data/Geometry/RangeTree/Measure.hs
impop/hgeometry/src/Data/Geometry/SegmentTree/Generic.hs
impop/hgeometry/src/Data/Geometry/Vector/VectorFamily.hs
impop/hgeometry/src/Data/Geometry/Vector/VectorFamilyPeano.hs
impop/hgeometry/src/Data/Geometry/Vector/VectorFixed.hs
impop/hgeometry/src/Data/PlaneGraph/AdjRep.hs
impop/hgeometry/src/Data/PlaneGraph/Core.hs
impop/hgeometry/src/Data/PlaneGraph/IO.hs
impop/hgeometry/src/Graphics/Camera.hs
impop/hgeometry/src/Graphics/Render.hs
impop/hgeometry/test/Algorithms/Geometry/LineSegmentIntersection/manual.ipe
impop/hgeometry/test/Algorithms/Geometry/LineSegmentIntersection/selfIntersections.ipe
impop/hgeometry/test/Algorithms/Geometry/LinearProgramming/manual.ipe
impop/hgeometry/test/Algorithms/Geometry/LowerEnvelope/manual.ipe
impop/hgeometry/test/Algorithms/Geometry/PolygonTriangulation/monotone.ipe
impop/hgeometry/test/Algorithms/Geometry/PolygonTriangulation/simplepolygon6.ipe
impop/hgeometry/test/Algorithms/Geometry/RedBlueSeparator/manual.ipe
impop/hgeometry/test/Algorithms/Geometry/SmallestEnclosingDisk/manual.ipe
impop/hgeometry/test/Data/Geometry/arrangement.ipe
impop/hgeometry/test/Data/Geometry/arrangement.ipe.out.ipe
impop/hgeometry/test/Data/Geometry/pointInPolygon.ipe
impop/hgeometry/test/Data/Geometry/pointInTriangle.ipe
impop/hgeometry/test/Data/Geometry/Polygon/star_shaped.ipe
impop/hgeometry/test/Data/Geometry/Polygon/Convex/convexTests.ipe
impop/hgeometry/test/Data/PlaneGraph/myPlaneGraph.yaml
impop/hgeometry/test/Data/PlaneGraph/small.yaml
impop/hgeometry/test/Data/PlaneGraph/testsegs.png
impop/hgeometry-combinatorial/changelog.org
impop/hgeometry-combinatorial/doctests.hs
impop/hgeometry-combinatorial/hgeometry-combinatorial.cabal
impop/hgeometry-combinatorial/LICENSE
impop/hgeometry-combinatorial/README.md
impop/hgeometry-combinatorial/Setup.hs
impop/hgeometry-combinatorial/docs/Data/PlanarGraph/testG.png
impop/hgeometry-combinatorial/docs/Data/PlaneGraph/planegraph.png
impop/hgeometry-combinatorial/src/Algorithms/BinarySearch.hs
impop/hgeometry-combinatorial/src/Algorithms/DivideAndConquer.hs
impop/hgeometry-combinatorial/src/Algorithms/Graph/DFS.hs
impop/hgeometry-combinatorial/src/Algorithms/Graph/MST.hs
impop/hgeometry-combinatorial/src/Algorithms/StringSearch/KMP.hs
impop/hgeometry-combinatorial/src/Control/Monad/State/Persistent.hs
impop/hgeometry-combinatorial/src/Data/BinaryTree.hs
impop/hgeometry-combinatorial/src/Data/CircularSeq.hs
impop/hgeometry-combinatorial/src/Data/DynamicOrd.hs
impop/hgeometry-combinatorial/src/Data/Ext.hs
impop/hgeometry-combinatorial/src/Data/IndexedDoublyLinkedList.hs
impop/hgeometry-combinatorial/src/Data/Intersection.hs
impop/hgeometry-combinatorial/src/Data/LSeq.hs
impop/hgeometry-combinatorial/src/Data/Measured.hs
impop/hgeometry-combinatorial/src/Data/OrdSeq.hs
impop/hgeometry-combinatorial/src/Data/Permutation.hs
impop/hgeometry-combinatorial/src/Data/PlanarGraph.hs
impop/hgeometry-combinatorial/src/Data/Range.hs
impop/hgeometry-combinatorial/src/Data/UnBounded.hs
impop/hgeometry-combinatorial/src/Data/Util.hs
impop/hgeometry-combinatorial/src/Data/BinaryTree/Zipper.hs
impop/hgeometry-combinatorial/src/Data/CircularList/Util.hs
impop/hgeometry-combinatorial/src/Data/List/Set.hs
impop/hgeometry-combinatorial/src/Data/List/Util.hs
impop/hgeometry-combinatorial/src/Data/Measured/Class.hs
impop/hgeometry-combinatorial/src/Data/Measured/Size.hs
impop/hgeometry-combinatorial/src/Data/PlanarGraph/AdjRep.hs
impop/hgeometry-combinatorial/src/Data/PlanarGraph/Core.hs
impop/hgeometry-combinatorial/src/Data/PlanarGraph/Dart.hs
impop/hgeometry-combinatorial/src/Data/PlanarGraph/Dual.hs
impop/hgeometry-combinatorial/src/Data/PlanarGraph/EdgeOracle.hs
impop/hgeometry-combinatorial/src/Data/PlanarGraph/IO.hs
impop/hgeometry-combinatorial/src/Data/RealNumber/Rational.hs
impop/hgeometry-combinatorial/src/Data/Sequence/Util.hs
impop/hgeometry-combinatorial/src/Data/Set/Util.hs
impop/hgeometry-combinatorial/src/Data/Tree/Util.hs
impop/hgeometry-combinatorial/src/Data/Yaml/Util.hs
impop/hgeometry-combinatorial/src/System/Random/Shuffle.hs
impop/hgeometry-combinatorial/test/Spec.hs
impop/hgeometry-combinatorial/test/Algorithms/DivideAndConquerSpec.hs
impop/hgeometry-combinatorial/test/Algorithms/StringSearch/KMPSpec.hs
impop/hgeometry-combinatorial/test/Data/CircularSeqSpec.hs
impop/hgeometry-combinatorial/test/Data/EdgeOracleSpec.hs
impop/hgeometry-combinatorial/test/Data/IndexedDoublyLinkedListSpec.hs
impop/hgeometry-combinatorial/test/Data/OrdSeqSpec.hs
impop/hgeometry-combinatorial/test/Data/PlanarGraphSpec.hs
impop/hgeometry-combinatorial/test/Data/RangeSpec.hs
impop/hgeometry-combinatorial/test/Data/PlanarGraph/myGraph.yaml
impop/hgeometry-ipe/changelog.org
impop/hgeometry-ipe/hgeometry-ipe.cabal
impop/hgeometry-ipe/LICENSE
impop/hgeometry-ipe/README.md
impop/hgeometry-ipe/Setup.hs
impop/hgeometry-ipe/resources/basic.isy
impop/hgeometry-ipe/src/Data/Geometry/Ipe.hs
impop/hgeometry-ipe/src/Data/Geometry/ZeroSet.hs
impop/hgeometry-ipe/src/Data/Geometry/Arrangement/Draw.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Attributes.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Color.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Content.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/FromIpe.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/IpeOut.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Layer.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Literal.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Matrix.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/ParserPrimitives.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Path.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/PathParser.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Reader.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Types.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Value.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/Writer.hs
impop/hgeometry-ipe/src/Data/Geometry/Ipe/ZeroSet.hs
impop/hgeometry-ipe/src/Data/Geometry/PlanarSubdivision/Draw.hs
impop/hgeometry-ipe/src/Data/Geometry/QuadTree/Draw.hs
impop/hgeometry-ipe/src/Data/Geometry/Triangulation/Draw.hs
impop/hgeometry-ipe/src/Data/Geometry/ZeroSet/AlternatingPath.hs
impop/hgeometry-ipe/src/Data/PlaneGraph/Draw.hs
impop/hgeometry-ipe/src/Data/Tree/Draw.hs
impop/hgeometry-ipe/test/Spec.hs
impop/hgeometry-ipe/test/Data/Geometry/Ipe/ReaderSpec.hs
impop/ipe/drop.ipe
impop/ipe/drop.labeled.ipe
impop/ipe/dynamic.labeled.ipe
impop/ipe/fish.ipe
impop/ipe/fox.ipe
impop/ipe/house.ipe
impop/ipe/house.labeled.ipe
impop/ipe/lens.ipe
impop/ipe/note.ipe
impop/ipe/note.labeled.ipe
impop/ipe/star_boundary.ipe
impop/ipe/star_boundarycircle.ipe
impop/ipe/star_boundarystar.ipe
impop/ipe/star_boundarystar.labeled.ipe
impop/ipe/star.ipe
impop/ipe/star.labeled.ipe
impop/ipe/star2.ipe
impop/ipe/star2.labeled.ipe
impop/ipe/star3.ipe
impop/ipe/star3.labeled.ipe
impop/ipe/triangle.ipe
impop/ipe/triangle.labeled.ipe
impop/log/caf.txt
impop/log/car.txt
impop/log/chopped.txt
impop/log/converted.txt
impop/log/frame.txt
impop/log/labels.txt
impop/log/nonogram.txt
impop/log/points.txt
impop/log/segments.txt
impop/log/snapped.txt
impop/log/solution.txt
impop/log/tree.txt
impop/log/unlabels.txt
impop/mios-master/.gitignore
impop/mios-master/.gitlab-ci-stack.yaml
impop/mios-master/.gitlab-ci.yml
impop/mios-master/ChangeLog.md
impop/mios-master/LICENSE
impop/mios-master/package.yaml
impop/mios-master/README.md
impop/mios-master/Setup.hs
impop/mios-master/MultiConflict/package.yaml
impop/mios-master/MultiConflict/README.md
impop/mios-master/MultiConflict/SAT/Mios.hs
impop/mios-master/MultiConflict/SAT/Mios/Clause.hs
impop/mios-master/MultiConflict/SAT/Mios/ClauseManager.hs
impop/mios-master/MultiConflict/SAT/Mios/Main.hs
impop/mios-master/MultiConflict/SAT/Mios/OptionParser.hs
impop/mios-master/MultiConflict/SAT/Mios/Solver.hs
impop/mios-master/MultiConflict/SAT/Mios/Types.hs
impop/mios-master/MultiConflict/SAT/Mios/Validator.hs
impop/mios-master/MultiConflict/SAT/Mios/Vec.hs
impop/mios-master/MultiConflict/SAT/Mios/Util/BoolExp.hs
impop/mios-master/MultiConflict/SAT/Mios/Util/DIMACS.hs
impop/mios-master/MultiConflict/SAT/Mios/Util/Stat.hs
impop/mios-master/MultiConflict/SAT/Mios/Util/DIMACS/MinisatReader.hs
impop/mios-master/MultiConflict/SAT/Mios/Util/DIMACS/Reader.hs
impop/mios-master/MultiConflict/SAT/Mios/Util/DIMACS/Writer.hs
impop/mios-master/MultiConflict/utils/averagecsv.hs
impop/mios-master/MultiConflict/utils/compare.hs
impop/mios-master/MultiConflict/utils/dump2csv.hs
impop/mios-master/MultiConflict/utils/kde.R
impop/mios-master/MultiConflict/utils/mkcactus.R
impop/mios-master/MultiConflict/utils/mkcactusSU.R
impop/mios-master/MultiConflict/utils/numbers.hs
impop/mios-master/MultiConflict/utils/pickup.hs
impop/mios-master/MultiConflict/utils/stat2csv.hs
impop/mios-master/MultiConflict/utils/summary.hs
impop/mios-master/MultiConflict/utils/verbose2csv.hs
impop/mios-master/app/mios-bot.hs
impop/mios-master/app/mios.hs
impop/mios-master/app/sample.hs
impop/mios-master/src/SAT/Mios.hs
impop/mios-master/src/SAT/Mios/Clause.hs
impop/mios-master/src/SAT/Mios/ClauseManager.hs
impop/mios-master/src/SAT/Mios/ClausePool.hs
impop/mios-master/src/SAT/Mios/Criteria.hs
impop/mios-master/src/SAT/Mios/Main.hs
impop/mios-master/src/SAT/Mios/OptionParser.hs
impop/mios-master/src/SAT/Mios/Solver.hs
impop/mios-master/src/SAT/Mios/Types.hs
impop/mios-master/src/SAT/Mios/Validator.hs
impop/mios-master/src/SAT/Mios/Vec.hs
impop/mios-master/src/SAT/Mios/Util/BoolExp.hs
impop/mios-master/src/SAT/Mios/Util/DIMACS.hs
impop/mios-master/src/SAT/Mios/Util/DIMACS/MinisatReader.hs
impop/mios-master/src/SAT/Mios/Util/DIMACS/Reader.hs
impop/mios-master/src/SAT/Mios/Util/DIMACS/Writer.hs
impop/mios-master/test/mios-criterion.hs
impop/mios-master/test/MiosSpec.hs
impop/mios-master/test/SAT-Competion2017-main-track_to_SC17m54.ods
impop/mios-master/test/Spec.hs
impop/mios-master/test/data/38bits_10.dimacs.cnf
impop/mios-master/test/data/44bits_11.dimacs.cnf
impop/mios-master/test/data/itox_vc1130.cnf
impop/mios-master/test/data/manthey_DimacsSorter_28_3.cnf
impop/mios-master/test/data/uf200-012.cnf
impop/mios-master/test/data/uf200-020.cnf
impop/mios-master/test/data/uf225-025.cnf
impop/mios-master/test/data/uf250-050.cnf
impop/mios-master/utils/cnf-stat.hs
impop/mios-master/utils/count-SU.R
impop/mios-master/utils/memo.md
impop/mios-master/utils/mios-1.6.0.cabal
impop/mios-master/utils/mkCactus.R
impop/mios-master/utils/mkEvo.R
impop/mios-master/utils/mkScatter.R
impop/mios-master/utils/sat-benchmark.hs
impop/puz/drop.puz
impop/puz/dynamic.puz
impop/puz/house.puz
impop/puz/note.puz
impop/puz/star_boundarystar.puz
impop/puz/star.puz
impop/puz/star2.puz
impop/puz/star3.puz
impop/puz/triangle.puz
impop/src/Algorithms/Geometry/Misc.hs
impop/src/Algorithms/Geometry/CurveArrangement/BentleyOttmann.hs
impop/src/Algorithms/Geometry/CurveArrangement/Types.hs
impop/src/Data/Extra.hs
impop/src/Data/Geometry/Bezier.hs
impop/src/Data/Geometry/Bezier/Cubic.hs
impop/src/Data/Geometry/PlanarSubdivision/Dynamic.hs
impop/src/Data/Geometry/PlanarSubdivision/ForceDirected.hs
impop/src/Data/Geometry/PlanarSubdivision/More.hs
impop/src/CurveArrangement/Basic.hs
impop/src/CurveArrangement/Construct.hs
impop/src/CurveArrangement/ForceDirectedStubs.hs
impop/src/CurveArrangement/Ipe.hs
impop/src/CurveArrangement/Puz.hs
impop/src/CurveArrangement/Types.hs
impop/src/Misc/Ipe.hs
impop/src/Misc/SpanningTree.hs
impop/src/Misc/Time.hs
impop/src/PP/Puz.hs
impop/src/PSDGlossApp/Common.hs
impop/src/PSDGlossApp/Editable.hs
impop/src/PSDGlossApp/Forcible.hs
impop/src/PSDGlossApp/Selectable.hs
impop/src/PSDGlossApp/Traceable.hs
impop/src/PSDGlossApp/Visible.hs
impop/src/Behaviour.hs
impop/src/Convert.hs
impop/src/CurveArrangement.hs
impop/src/Curves.hs
impop/src/Draw.hs
impop/src/Example.hs
impop/src/PSDGlossApp.hs
impop/src/Tests.hs
impop/test/Spec.hs
impop/src/Nonogram/Ipe.hs
impop/src/Nonogram/PathType.hs
impop/src/Nonogram/Puz.hs
